body {
    background-color: rgb(241, 241, 241);
    margin: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    --theme-accent-color: rgb(17, 133, 175);
    --theme-action-color: rgb(14, 103, 135);
    user-select: none;
}

header {
    background-color: white;
    height: 60px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    border-bottom: 1px solid #e4e4e7;
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-app-region: drag;
}

.headertext {
    font-size: 16px;
    font-family: Figtree;
    font-weight: 600;
    color: var(--theme-accent-color);
}

.headerdoctext {
    font-size: 16px;
    font-family: Figtree;
    font-weight: 400;
    color: var(--theme-action-color);
}

.intropanelbase {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

.intropanel-title {
    font-size: 25px;
    font-family: Figtree;
    font-weight: 600;
    color: var(--theme-accent-color);
    margin-top: 20px;
}

.intropanel-button {
    font-size: 15px;
    font-family: Figtree;
    font-weight: 500;
    color: var(--theme-action-color);
    margin-top: 15px;
    cursor: pointer;
}

.intropanelleft {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#editor-sidebar {
    height: calc(100% - 40px);
    min-width: 260px;
    background-color: #f7f7f7;
    border-right: 1px solid #e4e4e7;
    padding: 20px;
}

.sectionheader {
    color: #787878;
    font-family: Figtree;
    font-size: 14px;
}

.sidemenuitem {
    margin-top: 12px;
    color: #555;
    font-family: Figtree;
    font-size: 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sidemenuitemsel {
    color: var(--theme-accent-color);
}

.searchbox {
    height: 35px;
    width: 30%;
    margin-right: 35px;
    margin-left: auto;
    padding-left: 10px;
    border: 1px solid #cacaca;
    border-radius: 5px;
    font-family: Figtree;
    -webkit-app-region: no-drag;
}

.blockhandle {
    min-width: 6px;
    min-height: 100% !important;
    background-color: rgba(85, 85, 85, 0);
    margin-right: 20px;
    cursor: grab;
    border-radius: 3px;
}

.quoteline {
    min-width: 3px;
    min-height: 100% !important;
    background-color: rgb(179, 179, 179);
    margin-right: 8px;
    border-radius: 1.5px;
}

.blockhandle:hover {
    background-color: rgba(85, 85, 85, 0.156);
}

.nblock {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    height: fit-content;
    padding-right: 20px;
}

/* #movetestlist {
    width: calc(100% - 30%);
    height: calc(100% - 80px);
    padding: 40px;
    padding-left: 15%;
    padding-right: 15%;
} */

#movetestlist {
    width: calc(100% - 60px);
    height: calc(100% - 80px);
    padding: 40px;
    padding-left: 30px;
    padding-right: 30px;
    overflow-y: scroll;
}

h1 {
    font-family: Figtree;
    font-weight: 600 !important;
    font-size: 40px; margin-bottom: 5px;
}

.editbox {
    outline: rgba(255, 255, 255, 0) !important;
    width: 100%;
}

h2 {
    font-family: Figtree;
    font-weight: 500 !important;
    font-size: 30px; margin-bottom: 5px;
}

h3 {
    font-family: Figtree;
    font-weight: 500 !important;
    font-size: 20px; margin-bottom: 5px;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    font-family: Figtree;
}

li {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    font-family: Figtree;
}

.nblockul {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 25px;
    width: 100%;
}

.editbox[placeholder]:empty:last-child:before {
    content: attr(placeholder);
    color: #555; 
    display: none;
}

#movetestlist .nblock:last-child .editbox[placeholder]:empty:before {
    display: inline; /* Show only for the last block */
}

.markedhandle {
    background-color: var(--theme-accent-color) !important;
}

hr {
    color: #555;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}